<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= yield(:title) || params[:action].capitalize %> - Piedmont OR Schedule</title>
    <%= stylesheet_link_tag 'styles' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div id="top-nav">
      <%= link_to 'List Schedules', list_schedules_url %>
      |
      <%= link_to 'New Schedule', create_schedule_url %>
      |
      <%= link_to 'Latest Schedule', view_schedule_url(nil) %>
    </div>
    <div id="built-by">
      Built by Ryan Johns
    </div>
    <div style="clear: both;">
      <hr />
    </div>
    <div id="content">
      <%= yield -%>
    </div>
  </body>
</html>
